.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  background-color: #002244;
}

.headerFont {
  color: white;
}

.Current {
  color: rgb(252, 3, 28) !important;
  /* color: magenta !important; */
}

.Completed {
  color: rgb(29, 112, 163);
}

.SelectedRow {
  background-color: rgba(225, 225, 225, 0.7) !important;
  font-weight: 600;
}

th {
  background-color: white !important;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: white;
}

.hidden-table:hover {
  background-color: white !important;
}

.notSelected:hover {
  background-color: inherit;
}

.table-hover tbody tr:hover td {
  /* background: rgba(255, 255, 255, 0); */
  /* background: rgba(255, 0, 0, 0) Important; */
}

.NavCustom {
  padding: 0;
  background: #666666;
}

.Overlay {
  margin: 20px;
  position: absolute;
}
